.form-swap {
    border-left: 6px solid red;
    background-color: lightgrey;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 1px 1px 12px 10px lightgrey;
}

.inp-price {
    width: 100%;
}

.ant-input-number-input-wrap > input.ant-input-number-input {
    text-align: center;
}

.func-swap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.result-amount {
    font-size: 22px;
    color: rgb(20, 205, 20);
    margin-left: 10px;
}

.btn-reset {
    margin-left: 12px;
}
